body {
    font-family: 'Quicksand', sans-serif;
}

.top-section {
    background-color: #FA9B70;
    display: flex;
    flex-direction: row;
    padding: 14px;
}

.back {
    padding: 8px;
}

.header {
    color: white;
    flex: 1;
    text-align: center;
}

@keyframes rotate-scale {
    0% {
        transform: rotate(0deg) scale(1);
        /* background: gold; */
    }
    100% {
        transform: rotate(360deg) scale(1.1);
    }
}

@keyframes grow {
    0% {
        transform: scaleX(1) scaleY(1)
    }
    100% {
        transform: scaleX(1.05) scaleY(1.05)
    }
    /* 100% {
        transform: scaleX(1.1) scaleY(1.1)
    } */
}

.star, .star2 {
    /* animation: 3.0s pulse infinite; */
    animation: 3.0s rotate-scale infinite;
    animation-timing-function: linear;
}

.star {
    position: absolute;
    margin: 100px auto;
    width: 300px;
    height: 300px;
    background: silver;
    border-radius: 50px;
}

.star2 {
    position: absolute;
    margin: 100px auto;
}

.star:after {
    content: "";
    display: block;
    width: 300px;
    height: 300px;
    background: gold;
    transform: rotate(45deg);
}

.star2:after {
    content: "";
    display: block;
    width: 350px;
    height: 350px;
    background: black;
    transform: rotate(67.5deg);
    border-radius: 50%;
}

.in-star {
    position: absolute;
    background: white;
}

.parent {
    /* background: blue; */
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.calorie-result {
    position: absolute;
    z-index: 1000;
    text-align: center;
    color: white
}
