body {
    font-family: 'Quicksand', sans-serif;
}

.my-navbar {
    background-color: #FA9B70;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.hamburger {
    color: white;
}

.hamburger:hover {
    text-shadow: 0 0 24px #707070;
}

.nav-link {
    color: #707070;
}

.nav-link:hover {
    color: #FA9B70;
}

.nav-link:focus {
    color: #FA9B70;
}

.active-link {
    color: #FA9B70;
}

.sidebar-text {
    padding-left: 12px;
}

.shop-icon {
    color: #b8b8b8;
}

.my-brand {
    color: white;
    padding-left: 12px;
    font-size: 26px;
}

.my-brand:hover {
    color: white;
}

.my-dropdown {
    color: white;
}

.my-dropdown:hover {
    color: white;
}

.my-dropdown:focus {
    box-shadow: none;
}

.my-table {
    margin: 2%;
    max-width: 96%;
}

.btn-circle {
    z-index: 1;
    position: fixed;
    bottom: 5.6%;
    right: 4.6%;
    background-color: rgba(250, 156, 112, 0.65);
    color: rgba(255, 255, 255, 0.65);
    width: 80px;
    height: 80px;
    padding: 26px 31px;
    border-radius: 400px;
    font-size: 22px;
    line-height: 1.33;
}

.btn-circle:hover {
    background-color: #FA9B70;
    color: white;
}

@media only screen and (max-width: 600px) {
    .my-brand {
        display: none;
    }
    .my-table {
        margin: 3%;
        max-width: 94%;
    }
}