body {
    font-family: 'Quicksand', sans-serif;
}

.my-navbar {
    background-color: #FA9B70;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.hamburger {
    color: white;
}

.hamburger:hover {
    text-shadow: 0 0 24px #707070;
}

.nav-link {
    color: #707070;
}

.nav-link:hover {
    color: #FA9B70;
}

.nav-link:focus {
    color: #FA9B70;
}

.active-link {
    color: #FA9B70;
}

.sidebar-text {
    padding-left: 12px;
}

.shop-icon {
    color: #b8b8b8;
}

.my-brand {
    color: white;
    padding-left: 12px;
    font-size: 26px;
}

.my-brand:hover {
    color: white;
}

.my-dropdown {
    color: white;
}

.my-dropdown:hover {
    color: white;
}

.my-dropdown:focus {
    box-shadow: none;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.item {
    border-radius: 20px;
    box-shadow: 2px 4px 20px rgba(0, 0, 0, 0.2);
    width: 200px;
    height: 200px;
    margin: 12px 4px;
}

.item:hover {
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    .my-brand {
        display: none;
    }
}