body {
    font-family: 'Quicksand', sans-serif;
}

.my-navbar {
    background-color: #FA9B70;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.hamburger {
    color: white;
}

.hamburger:hover {
    text-shadow: 0 0 24px #707070;
}

.nav-link {
    color: #707070;
}

.nav-link:hover {
    color: #FA9B70;
}

.nav-link:focus {
    color: #FA9B70;
}

.active-link {
    color: #FA9B70;
}

.sidebar-text {
    padding-left: 12px;
}

.my-brand {
    color: white;
    padding-left: 12px;
    font-size: 26px;
}

.my-brand:hover {
    color: white;
}

.form-container {
    padding: 24px;
    margin-left: auto;
    margin-right: auto;
    width: 580px;
    border-radius: 30px;
    box-shadow: 2px 4px 20px rgba(0, 0, 0, 0.2);
}

@media only screen and (max-width: 600px) {
    .form-container {
        width: 94%;
    }

    #nav-contents{
        display: grid;
        justify-content: center;
    }
}

.invalid-input {
    color: red;
}

.range-input {
    display: flex;
    flex-direction: row;
}

.range-bar {
    padding: 0 12px;
    flex: 1;
}

.submission {
    text-align: center;
    padding: 12px 12px 0 12px;
}

.submit {
    padding: 4px 80px;
    background-color: #FA9B70;
    border: solid #FA9B70;
    border-radius: 50px;
    color: white;
    font-size: larger;
}

.submit:hover {
    background-color: #ff7b3e;
    border: solid #ff7b3e;
}

.card {
    position: relative;
    max-width: 300px;
    height: 215px;
    background: #cbe7fac2;
    margin: 40px 20px -20px;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 10px rgb(240, 236, 236);
    transition: 0.5s ease-in-out;
}

.card:hover {
    height: 480px;
}

.imgBx {
    position: relative;
    width: 260px;
    height: 260px;
    z-index: 1;
}

.imgBx img {
    max-width: 260px;
    border-radius: 4px;
    height: 220px;
    box-shadow: 0 5px 20px rgba(252, 249, 249, 0.541);
}

.card .content {
    position: relative;
    margin-top: -110px;
    padding: 10px 15px;
    text-align: center;
    color: #111;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;
}

.card:hover .content {
    visibility: visible;
    opacity: 1;
    margin-top: -0px;
    transition-delay: 0.3s;
}

.card:hover .imgBx {
    height: 220px;
}

#card1 {
    background: #f8b195;
}

#card2 {
    background: #f67280;
}

#card3 {
    background: #ffdc7c;
}

#card4 {
    background: #6ba292;
}

.redir-anchor {
    color: black;
    text-decoration: none;
}

.redir-anchor:hover {
    color: rgb(70, 66, 66);
}