body {
    font-family: 'Quicksand', sans-serif;
}

.my-navbar {
    background-color: #FA9B70;
}

.my-brand {
    color: white;
    padding-left: 12px;
    font-size: 26px;
}

.my-brand:hover {
    color: white;
}

.form-container {
    padding: 24px;
    margin-left: auto;
    margin-right: auto;
    width: 580px;
    border-radius: 30px;
    box-shadow: 2px 4px 20px rgba(0, 0, 0, 0.2);
}

@media only screen and (max-width: 600px) {
    .form-container {
        width: 94%;
    }
}

.invalid-input {
    color: red;
}

.submission {
    text-align: center;
    padding: 12px 12px 0 12px;
}

.submit {
    padding: 4px 80px;
    background-color: #FA9B70;
    border: solid #FA9B70;
    border-radius: 50px;
    color: white;
    font-size: larger;
}

.submit:hover {
    background-color: #ff7b3e;
    border: solid #ff7b3e;
}

.register {
    text-align: center;
}

.register-link {
    text-decoration: none;
    color: rgb(70, 70, 70);
}

.register-link:hover {
    color: black;
}