body {
    font-family: 'Quicksand', sans-serif;
}

.my-navbar {
    background-color: #FA9B70;
    z-index: 100000;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.hamburger {
    color: white;
}

.hamburger:hover {
    text-shadow: 0 0 24px #707070;
}

.nav-link {
    color: #707070;
}

.nav-link:hover {
    color: #FA9B70;
}

.nav-link:focus {
    color: #FA9B70;
}

.active-link {
    color: #FA9B70;
}

.sidebar-text {
    padding-left: 12px;
}

.shop-icon {
    color: #fab798;
}

.my-brand {
    color: white;
    padding-left: 12px;
    font-size: 26px;
}

.my-brand:hover {
    color: white;
}

.my-dropdown {
    color: white;
}

.my-dropdown:hover {
    color: white;
}

.my-dropdown:focus {
    box-shadow: none;
}

#content1 {
    margin-top: 50px;
    text-align: center;
}

h3 {
    font-size: 35px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h4 {
    font-weight: lighter;
    word-spacing: 5px;
    font-size: 17px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.content {
    position: relative;
}

.content .card {
    position: relative;
    width: 320px;
    height: 450px;
    background: #525151;
    border-radius: 20px;
    overflow: hidden;
}

.content .card::before {
    content: '';
    position: absolute;
    top: 0;
    Left: 0;
    width: 100%;
    height: 100%;
    background: #9bdc28;
    clip-path: circle(150px at 80% 20%);
    transition: 0.5s ease-in-out;
}

.content .card:hover:before {
    clip-path: circle(300px at 80% -20%);
}

.content .card:after {
    content: 'Athleap';
    position: absolute;
    top: 30%;
    Left: -20%;
    font-size: 12em;
    font-weight: 800;
    font-style: italic;
    color: rgba(255, 255, 255, 0.04);
}

.content .card .imgBx {
    position: absolute;
    top: 50%;
    transform: translateY(0%);
    z-index: 10000;
    width: 100%;
    height: 220px;
    transition: 0.5s;
}

.content .card:hover .imgBx {
    top: 23%;
    transform: translateY(0%);
}

.content .card .imgBx img {
    position: absolute;
    top: 5%;
    Left: 50%;
    transform: translate(-50%, -50%);
    width: 270px;
}

.content .card .contentBx {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    text-align: center;
    transition: 1s;
    z-index: 10;
}

.card:hover .contentBx {
    height: 210px;
    margin-top: 10px;
}

.contentBx h2 {
    position: relative;
    font-weight: 600;
    letter-spacing: 1px;
}

.size, .price {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 20px;
    transition: 0.5s;
    opacity: 0;
}

.card:hover .size {
    opacity: 1;
    transition-delay: 0.5s;
}

.card:hover .price {
    opacity: 1;
    transition-delay: 0.6s;
}

.size h3, .price h3 {
    font-weight: 300;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-right: 10px;
}

.size span {
    width: 26px;
    height: 26px;
    text-align: center;
    line-height: 26px;
    font-size: 14px;
    display: inline-block;
    color: #111;
    background-color: white;
    margin: 0px 5px;
    margin-top: -5px;
    transition: 0.5s;
    border-radius: 4px;
    cursor: pointer;
}

.size span:hover {
    background-color: #9bdc28;
}

.price span {
    height: 26px;
    font-size: 16px;
    margin-top: -5px;
    transition: 0.5s;
}

.contentBx a {
    display: inline-block;
    padding: 10px 20px;
    background: #ffffff;
    border-radius: 4px;
    margin-top: 10px;
    text-decoration: none;
    font-weight: 600;
    color: black;
    opacity: 0;
    transform: translateY(50px);
    transition: 0.5s;
}

.contentBx a:hover {
    background: #9bdc28;
    transition-delay: 0s;
}

.card:hover .contentBx a {
    opacity: 1;
    transform: translateY(0px);
    transition-delay: 0.75s;
}

.shop-item {
    margin-right: 3rem;
    margin-left: 3rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.buy-btn{
    display: inline-block;
    padding: 10px 20px;
    background: #ffffff;
    border-radius: 4px;
    margin-top: 10px;
    text-decoration: none;
    font-weight: 600;
    color: black;
    opacity: 0;
    transform: translateY(50px);
    transition: 0.5s;
}

.buy-btn:hover {
    background: #9bdc28;
    transition-delay: 0s;
}

.buy-btn:disabled{
    background-color: gray;
    color: black;
}

.card:hover .buy-btn {
    opacity: 1;
    transform: translateY(0px);
    transition-delay: 0.75s;
}


@media only screen and (max-width: 600px) {
    .my-brand {
        display: none;
    }
    .products {
        display: grid;
        justify-content: center;
    }
    .shop-item {
        margin-left: 2%;
    }
}